body {
  margin: 0;
  padding: 0;
  color: #4d4e53;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar {
  margin: 0;
  width: 250px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  position: fixed;
  border-right: 2px solid black;
  overflow-y: scroll;
  height: 600px;
}

h1 {
  font-weight: lighter;
}

.sidebar h1 {
  font-size: 25px;
  text-align: center;
}

.sidebar ul {
  padding-left: 20px;
}

.sidebar li {
  list-style-type: none;
  padding: 10px 7px;
  border-bottom: 1px solid #aaa;
}

.main-section {
  margin-left: 250px;
  padding: 35px;
  line-height: 23.04px;
  letter-spacing: normal;
}

.code {
  background-color: #ddd;
  padding: 20px;
  margin: 50px;
  font-size: 13px;
}

.section {
  padding-top: 10px;
}
